---
http_interactions:
- request:
    method: post
    uri: https://app.divoom-gz.com/Device/ReturnSameLANDevice
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: '{"ReturnCode":0,"ReturnMessage":"","DeviceList":[{"DeviceName":"Pixoo
        1","DeviceId":300000001,"DevicePrivateIP":"192.168.0.192","DeviceMac":"aabbccddee00"},{"DeviceName":"Pixoo
        2","DeviceId":300000002,"DevicePrivateIP":"192.168.0.101","DeviceMac":"aabbccddee01"}]}'
  recorded_at: Sun, 21 Aug 2022 20:45:15 GMT
- request:
    method: post
    uri: http://192.168.0.192/post
    body:
      encoding: UTF-8
      string: '{"Command":"Channel/GetIndex"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html
    body:
      encoding: UTF-8
      string: '{"error_code": 0, "SelectIndex":0}'
  recorded_at: Mon, 22 Aug 2022 13:57:36 GMT
recorded_with: VCR 6.1.0
